.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
scripts/input
scripts/output
scripts/sources
__pycache__
docs/concat_wordlists.txt
/docs
