button.link {
    cursor: pointer;
    --button-bg: transparent;
    font-family: var(--font-transitional);
    font-size: 1.2rem;
    color: #069;
    text-decoration: underline;
    box-shadow: none !important;
}

button.link:hover:not(:active):not(:disabled) {
    color: #05305e;
}

button.link:active:not(:disabled) {
    color: #bb3737;
    box-shadow: none;
    outline: 0px;
}

button.link:disabled {
    color: #7a7a7a;
    text-decoration: line-through;
    cursor: not-allowed;
}




button.icon {
    margin: 0px;
    padding: 0.2rem;
    background: transparent;
    box-shadow: 0 0 !important;
    box-sizing: border-box;
}
button.icon:not(:disabled) {
    cursor: pointer;
}
button.icon:disabled svg {
    // filter: brightness(0.8) grayscale(100%);
    filter: grayscale(100%) contrast(50%);
}

button.icon svg {
    filter: brightness(0.8);
    stroke-linecap: round;
    stroke-linejoin: miter;
    stroke-miterlimit: 0;
}

button.icon:disabled svg {
    stroke-width: 0px;
    fill: #afb2c2;
}

button.icon:not(:disabled) svg {
    stroke-width: 10px;
    stroke: #505050BB;
}

button.icon:not(:disabled):hover svg {
    stroke-width: 20px;
    stroke: #505050BB;
    filter: grayscale(0%);
}




button.fade-icon {
    margin: 0px;
    padding: 0.2rem;
    background: transparent;
    box-shadow: 0 0 !important;
    box-sizing: border-box;
}

button.fade-icon:not(:disabled) {
    cursor: pointer;
}

button.fade-icon svg {
    border-radius: 0.5rem;
    transition: border-color .25s ease-in-out, box-shadow 0.25s ease-in-out;
    filter: grayscale(100%);
    stroke-linecap: round;
    stroke-linejoin: miter;
    stroke-miterlimit: 0;
}

button.fade-icon:disabled svg {
    stroke-width: 0px;
    fill: #afb2c2;
}

button.fade-icon:not(:disabled) svg {
    stroke-width: 10px;
    stroke: #505050BB;
}

button.fade-icon:not(:disabled):hover svg {
    stroke-width: 20px;
    stroke: #505050BB;
    filter: grayscale(0%);
}

button.fade-icon:not(:disabled):focus-within svg {
    stroke-width: 20px;
    filter: grayscale(0%);
    box-shadow: 0px 0px 0px 0.2rem #f5660086;
}

.stats-btn svg {
    --bar-color0: rgb(255, 166, 0);
    --bar-color1: rgb(52, 153, 61);
    --bar-color2: rgb(12, 207, 214);
    --bar-color3: rgb(230, 49, 124);
}

.stats-btn:focus-within svg {
    filter: grayscale(0%) !important;
}
