@use 'forms';


.hidden {
    opacity: 0;
    display: none;
}

body {
    margin: 0px;
    height: 100%;
}

body>div {
    height: 100%;
}

header.header {
    width: var(--width);
    max-width: var(--max-width);
    margin: 0px auto 2rem;
}

header ul {
    margin: 0px auto;
    padding: 0px;
    display: flex;
    width: 100%;
    // justify-content: center;
}

header li {
    list-style: none;
}

html {
    height: 100%;
    background-color: #fbfbfb;
}

.frame {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(1, min-content) 1fr 8fr;
}

button.link {
    cursor: pointer;
    --button-bg: transparent;
    border-radius: 0.3rem;
    font-family: var(--font-sans-serif);
    font-size: 1.2rem;
    padding: 0.2rem 0.3rem;
    margin: 0.2rem 0.6rem;
    border: 1px solid transparent;
    color: #252525;
    transition: background-color 0.2s ease-in-out;
    text-decoration: underline;
    box-shadow: none !important;
}

button.link:focus {
    color: red;
}

button.link:hover:not(:active):not(:disabled) {
    color: #5a5a5a;
}

button.link:active:not(:disabled) {
    color: #bb3737;
    box-shadow: none;
    outline: 0px;
}

button.link:disabled {
    color: #7a7a7a;
    text-decoration: line-through;
    cursor: not-allowed;
}


.icon {
    display: flex;
    padding: 0px !important;
    margin: 0.1em !important;
}

.icon img {
    filter: grayscale(100%);
    width: 1.7em;
    height: 1.7em;
    box-sizing: border-box;
    margin: auto;
    // object-fit: contain;
}

.icon:focus-within:not(:disabled),
.icon:hover:not(:disabled) {
    // border: 1px solid #63719e;
    background-color: #585f66;
    box-shadow: 0px 0px 4px #425594 !important;
    // transition: background-color 0.2s ease-in;
}

.icon:disabled img {
    filter: grayscale(100%);
}

.icon:not(:disabled) img:hover {
    filter: grayscale(0%);
    animation: greyscale 0.2s ease-in;
    filter: drop-shadow(0px 0px 2px #7c7c7c);
}

.icon:not(:disabled):focus img {
    filter: drop-shadow(0px 0px 2px #7c7c7c);
}

@keyframes greyscale {
    0% {
        filter: grayscale(100%);
    }

    100% {
        filter: grayscale(0%);
    }
}

:root {
    --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-humanist: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    --font-system: system-ui, sans-serif;
    --font-transitional: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
    --font-slab: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
    --font-title: Trebuchet, Tahoma, Arial, sans-serif;
    --highlight-focus: #fd7506b4;
    --form-border-color: #585f66;
    --form-border-inner-color: #b2b8be;
    --form-border-color-disabled: #bcc2c9;
    --button-bg-hover: #acacac;
    --button-bg: #cdced1;
    --button-bg-disabled: #e3e3e3;
    --button-bg-focus: #b3b3b6;
    --width: 90%;
    --max-width: 47.6rem;
}
