@use 'forms';
@use 'buttons';
@use 'header';


html {
    height: 100%;
    background-color: #fbfbfb;
}

body {
    margin: 0px;
    height: 100%;
}

body>div {
    height: 100%;
}

.frame {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(1, min-content) 1fr 8fr;
}

.hidden {
    opacity: 0;
    display: none;
}

@keyframes greyscale {
    0% {
        filter: grayscale(100%);
    }

    100% {
        filter: grayscale(0%);
    }
}

:root {
    --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-humanist: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    --font-system: system-ui, sans-serif;
    --font-transitional: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
    --font-slab: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
    --font-title: Trebuchet, Tahoma, Arial, sans-serif;
    // --highlight-focus: #fd7506b4;
    --highlight-focus: rgba(15, 131, 240, 0.555);
    --form-border-color: #585f66;
    --form-border-inner-color: #b2b8be;
    --form-border-color-disabled: #bcc2c9;
    --button-bg-hover: #acacac;
    --button-bg: #cdced1;
    --button-bg-disabled: #e3e3e3;
    --button-bg-focus: #b3b3b6;
    --width: 90%;
    --max-width: 47.6rem;
}
