// $success-color: #50ce95;
// $error-letters: #3f5a66;
// $error-bg: #fde9e9;
// $error-border: 1px solid #ce5f50;


$success-color: #696e70;
$error-letters: $success-color;
$error-color: #942c2c;
$error-border: none;
$error-bg: transparent;
$active-color: black;
$active-letter: #b39a0d;
$active-error: #bb3737;
$active-complete: #20b0e9;
$queue-color: #202d33;


.word {
    display: inline-block;
    scroll-snap-align: center;
    background: transparent;
    margin: 1.4rem 0px;
}

.word:after {
    content: '\200B';
}


.word.active {
    // font-size: 140%;
    color: $active-color;

    .letter {
        border-bottom: 1px solid $active-color;
    }

    .letter.active {
        color: $active-letter;
        border-bottom: 1px solid $active-letter;
    }

    .letter.error {
        color: $active-error;
        border-bottom: 1px solid $active-error;
    }

    .letter.complete {
        border-bottom: 1px solid $active-complete;
        color: $active-complete;
    }
}


.queue {
    color: $queue-color;
    display: contents;
}


.history {
    display: contents;

    .word.success {
        animation: word-added 0.3s ease-in-out 0s 1;

        .letter.complete {
            color: $success-color;
        }
    }

    .word.error {
        border: $error-border;
        background-color: $error-bg;
        animation: word-wrong 0.1s ease-in-out 0s 3;

        .letter.complete {
            color: $error-letters;
        }

        .letter.error {
            color: $error-color;
        }
    }
}

// .tutor-words.paused .word.active .letter.active {
//     // border-bottom: 1px solid $active-color;
//     border-bottom: 1px solid #b39a0d;
//     color: #b39a0d;
// }

.tutor-words:not(.paused) {
    .word.active {
        scroll-snap-stop: always;
    }

    .letter.active {
        animation: blinking 1.5s steps(2, jump-start) infinite;
    }
}


.spacer {
    display: inline;

}

.spacer::before {
    content: ' ';
}


.missed-space {
    display: inline;
}

.missed-space::before {
    // add a zero-width space for         line breaks
    content: ' ';
    color: $error-color;
    border-bottom: 1px solid $error-color;
}


.checkmark {
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke-dashoffset: 0;
    fill: none;
    animation: reveal 0.4s ease-in-out 0s 1;
}



@keyframes reveal {
    0% {
        clip-path: inset(0px 50% 0px 50%);
    }

    100% {
        clip-path: inset(0px 0px 0px 0px);
    }
}

@keyframes blinking {
    100% {
        border-color: rgba(0, 0, 0, 0);
    }
}

@keyframes word-added {
    20% {
        transform: translateY(5%);
    }
}

@keyframes space-added {}

@keyframes word-wrong {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
