// $success-color: #50ce95;
$success-color: #202d33;

// $error-letters: #3f5a66;
$error-letters: $success-color;
$error-color: #bb3737;
$error-border: none;
$error-bg: transparent;
// $error-bg: #fde9e9;
// $error-border: 1px solid #ce5f50;

$active-color: black;
$active-error: #bb3737;
$active-complete: #20b0e9;

$queue-color: #202d33;


.word {
    display: inline-block;
    scroll-snap-align: center;
    background: transparent;
}


.word.active {
    font-size: 140%;
    color: $active-color;

    .letter.complete {
        color: $success-color;
    }

    .letter.error {
        color: $active-error;
    }

    .letter.complete {
        color: $active-complete;
    }
}


.queue {
    color: $queue-color;
}


.history {
    .word.success {
        animation: word-added 0.3s ease-in-out 0s 1;

        .letter.complete {
            color: $success-color;
        }
    }

    .word.error {
        border: $error-border;
        background-color: $error-bg;
        animation: word-wrong 0.1s ease-in-out 0s 3;

        .letter.complete {
            color: $error-letters;
        }

        .letter.error {
            color: $error-color;
        }
    }
}


.tutor-words:not(.paused) {
    .word.active {
        scroll-snap-stop: always;
    }

    .letter.active {
        animation: blinking 1.5s steps(2, jump-start) infinite;
    }
}


.spacer {
    display: inline;

}

.spacer::before {
    content: ' ';
}


.missed-space {
    display: inline;
}

.missed-space::before {
    content: ' ';
}


.checkmark {
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke-dashoffset: 0;
    fill: none;
    animation: reveal 0.4s ease-in-out 0s 1;
}



@keyframes reveal {
    0% {
        clip-path: inset(0px 50% 0px 50%);
    }

    100% {
        clip-path: inset(0px 0px 0px 0px);
    }
}

@keyframes blinking {
    100% {
        border-color: rgba(0, 0, 0, 0);
    }
}

@keyframes word-added {
    20% {
        transform: translateY(5%);
    }
}

@keyframes space-added {}

@keyframes word-wrong {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(1deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
