// $success-color: #50ce95;
$success-color: #3f5a66;

// $error-letters: #3f5a66;
$error-letters: $success-color;
$error-color: #bb3737;
$error-border: none;
$error-bg: transparent;
// $error-bg: #fde9e9;
// $error-border: 1px solid #ce5f50;

$active-color: #202d33;
$active-error: #bb3737;
$active-complete: #20b0e9;

$queue-color: #3f5a66;



.word {
    display: inline-block;
    margin: 0.1em 0.1em;
    padding: 0px 0.1em;
    scroll-snap-align: center;
    background: transparent;
    height: calc(clamp(1.2rem, 5vh, 2.5rem)*1.1);
}



.word.active {
    font-size: 140%;
    margin: 0px 1.6rem;
    color: $active-color;

    .letter.complete {
        color: $success-color;
    }

    .letter.error {
        color: $active-error;
    }

    .letter.complete {
        color: $active-complete;
    }
}



.queue {
    margin-right: calc(100% / 2);
    color: $queue-color;

    .word:not(.active) {
        margin: 0px;
        padding: 0px 0.08em;
    }
}



.history {
    margin-left: calc(100% / 2);
    display: inline-flex;

    .word.success {
        animation: word-added 0.3s ease-in-out 0s 1;

        .letter.complete {
            color: $success-color;
        }
    }

    .word.error {
        border: $error-border;
        background-color: $error-bg;
        animation: word-wrong 0.1s ease-in-out 0s 3;

        .letter.complete {
            color: $error-letters;
        }

        .letter.error {
            color: $error-color;
        }
    }
}



.tutor-words:not(.paused) {
    .word.active {
        scroll-snap-stop: always;
    }

    .letter.active {
        border-left: 2px solid rgba(0, 0, 0, 1);
        margin-left: -2px;
        animation: blinking 1.5s steps(2, jump-start) infinite;
    }
}



.char-mode {

    .missed-space,
    .spacer {
        align-self: center;
        display: inline-block;
        height: calc(clamp(1.2rem, 5vh, 2.5rem) * 1.1);
        margin: 0px;
    }

    .history .spacer {
        width: 0.4ch;
    }

    .history .missed-space {
        width: 1ch;
        background-color: $error-bg;
        border: $error-border;
    }
}



.checkmark {
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke-dashoffset: 0;
    fill: none;
    animation: reveal 0.4s ease-in-out 0s 1;
}



@keyframes reveal {
    0% {
        clip-path: inset(0px 50% 0px 50%);
    }

    100% {
        clip-path: inset(0px 0px 0px 0px);
    }
}

@keyframes blinking {
    100% {
        border-color: rgba(0, 0, 0, 0);
    }
}

@keyframes word-added {
    0% {
        // font-size: 1.75rem;
    }

    20% {
        transform: translateY(5%);
    }
}

@keyframes space-added {}

@keyframes word-wrong {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(1deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(0deg);
    }

}
